@font-face {
    font-family: "Montserrat";
    src: url("../font/montserrat/Montserrat-Medium.otf");
    src: url("../font/montserrat/Montserrat-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/montserrat/Montserrat-Bold.otf");
    src: url("../font/montserrat/Montserrat-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Montserrat";
    src: url("../font/montserrat/Montserrat-ExtraBold.otf");
    src: url("../font/montserrat/Montserrat-ExtraBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}