@media screen and (max-width: 1366px) {
    .container {
        width: 85%;
    }
}

@media screen and (max-width: 1285px) {
    header {
        background-position-x: 70%;
    }

    .sale {
/*        font-size: 30px;*/
    }

    .header-top nav li a {
        padding: 0 20px;
        font-size: 13px;
    }

    .container {
        width: 80%;
    }

    .h-address {
        margin: 0;
    }

    .h-address li {
        font-size: 12px;
    }

    .h-address:before, .h-address:after {
        display: none;
    }

    .logo-wrapper p {
        margin: 0 5px 0 15px;
    }

    .header-info-section .container {
        justify-content: space-between;
    }

    .advantages-wrapper>:nth-child(2) {
        margin: unset;
    }

    .advantage {
        margin-bottom: 10%;
    }

    .advantages-wrapper {
        flex-wrap: wrap;
    }

    .main-title {
        margin-right: 5%;
    }

    .w-frame {
        width: 28%;
    }
}

@media screen and (max-width: 1130px) {
    header {
        height: 135vh;
    }

    .advantages-wrapper {
        margin-top: 20%;
    }

    .burger-wrapper {
        display: block;
    }

    .header-info-section {
        background-color: #fff;
    }

    .logo-wrapper>:first-child {
        margin-right: 20px;
    }

    nav, .container .h-contacts, .container .h-address, .logo-wrapper p {
        display: none;
    }

    .header-top nav {
        background-color: #fff;
    }

    .header-top nav li {
        padding-left: 20px;
        text-align: left;
        display: block;
        border-bottom: 1px solid #e7f3ff;
    }

    .mobile-content {
        padding-left: 40px;
    }

    .header-top nav li a {
        font-size: 16px;
    }

    .mobile-content li {
        font-size: 14px;
    }

    .mobile-content .h-address {
        padding: 20px 0 10px 0;
        display: block;
    }

    .mobile-content .h-address li {
        border-bottom: unset;
    }

    .mobile-content .h-address li:hover {
        background-color: unset;
    }

    .mobile-content .h-contacts {
        padding: 10px 0;
        width: 150px;
    }

    .tel-number {
        padding-left: 20px;
        display: inline-block;
    }

    .tel-number:before {
        top: 20%;
    }

    .header-top nav li a {
        color: #1a62af;
    }

    .header-top nav li:not(:first-child):before {
        content: unset;
    }

    .mobile-content .h-address ul > :first-child:before {
        left: -2px;
    }

    .burger-btn {
        display: block;
    }

    .header-top nav li:hover a {
        color: #fff;
    }

    .main-title {
        margin-right: 0;
    }

    .header-introduction {
        flex-direction: column;
    }

    .w-frame {
        top: unset;
        width: 50%;
        bottom: 5%;
    }

    .present-section> img {
        position: absolute;
        bottom: 10%;
        right: 0;
    }
}

@media screen and (max-width: 970px) {
    .engineer-call-btn {
        margin-top: 10px;
    }

    form {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .inp-wrapper {
        display: block;
        margin: 10px 0;
    }

    .form-wrapper {
        text-align: center;
        margin-top: 20px;
    }

    .form-wrapper form > span:before {
        left: 1%;
    }

    .form-wrapper h2 {
        width: auto;
        margin: 0 auto 15px auto;
        font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    }

    .agree-box svg {
    }

    .form-input {
        padding: 17px 0 17px 70px;
    }

    .engineer-call-btn {
        padding: 17px 30px;
    }

    .services li + li {
        margin: 10px 0;
    }

    .services p {
        margin-left: 10px;
    }

    .form-wrapper form > span:before {
        height: 44px;
        width: 44px;
        line-height: 44px;
        left: 7px;
        transform: translateY(-51%);
    }

    .gift-wrapper {
        height: 100px;
    }
    .gift-wrapper p {
        font-size: 20px;
    }

    .advantages-wrapper>:first-child {
        margin-right: 20px;
    }

    .advantage {
        padding: 10px;
    }
}

@media screen and (max-width: 850px) {
    .advantages-wrapper>:nth-child(2) {
        margin-bottom: 10%;
    }

    .gift-wrapper {
        height: 80px;
    }

    .gift-wrapper svg {
        width: 40px;
        height: 40px;
        margin: 0 20px 0 20px;
    }

    .gift-wrapper p {
        font-size: 18px;
    }

    .advantages-wrapper>:first-child {
        margin-right: 0;
    }

    .present-section> img {
        bottom: 0%;
        width: 60px;
    }

    .w-frame {
        top: unset;
        width: 50%;
        bottom: 5%;
    }
}

@media screen and (max-width: 640px) {
    .present-section> img {
        bottom: 0;
        width: 50px;
    }
}

@media screen and (max-width: 450px) {
    header, main {
        height: 100%;
    }

    .container {
        width: 90%;
    }

    form {
        padding-bottom: 20%;
    }

    .advantages-wrapper {
        margin: 80px 0;
    }

    .w-frame {
        top: unset;
        width: 40%;
        right: -4%;
        bottom: 10%;
    }

    .services ul {
        display: flex;
        flex-direction: column;
    }

    .services ul>:first-child {
        order: 3;
    }

    .services ul>:nth-child(2) {
        order: 2;
        margin: 15px 0;
    }

    .services ul>:last-child {
        order: 0;
    }

    .services p {
        margin-left: 5px;
    }

    .services li + li {
        margin: 0;
    }

    .present-section> img {
        position: absolute;
        bottom: 5%;
        width: 40px;
        right: -5%;
    }

    .agree-box {
        font-size: 9px;
    }

    .advantage {
        margin-bottom: unset;
    }

    .advantages-wrapper>:nth-child(2) {
        margin: 80px 0;
    }
}