* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    font-family: Montserrat, Helvetica, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

li {
    list-style: none;
}

header {
    height: 795px;
    background: url("../img/baner.png") no-repeat center/cover;
}

.container {
    width: 1170px;
    height: auto;
    margin: 0 auto;
    justify-content: space-around;
}

/* Header info section */
.header-introduction {
    position: relative;
}

.header-info-section {
    height: 90px;
    position: relative;
}

.w-frame {
    position: absolute;
    right: -10%;
}

.header-info-section .container {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.logo-wrapper>:first-child img {
    height: 50px;
}

.logo-wrapper>:last-child img {
    height: 55px;
}

.logo-wrapper p {
    width: 180px;
    margin: 0 25px 0 15px;
    text-transform: uppercase;
    font-size: 10px;
    text-align: left;
    color: #6a7a92;
}

.h-address {
    margin: 0 30px;
    position: relative;
    font-size: 14px;
}

.h-address a {
    color: #3f90e7;
    margin-left: 10px;
    text-decoration: underline;
}

.h-address:before, .h-address:after {
    content: '';
    background-image: radial-gradient(#bcd1e7, #FFF), radial-gradient(#bcd1e7, #FFF);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 55px;
}

.h-address:before {
    left: -60px;
}

.h-address:after {
    right: -40px;
}

.h-address li {
    position: relative;
}

.h-address li:first-child {
    margin-bottom: 10px;
}

.h-address ul > :first-child:before, .h-address ul > :last-child:before {
    content: '';
    left: -25px;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.h-address ul > :first-child:before {
    width: 14px;
    height: 14px;
    background-image: url(../img/salon-icon.png);
}

.h-address ul > :last-child:before, .mobile-content .h-address ul > :first-child:before {
    width: 16px;
    height: 16px;
    background-image: url(../img/clock-icon.png);
}

.h-contacts * {
    display: block;
}

.tel-number {
    margin-bottom: 10px;
    position: relative;
    text-align: center;
    font-weight: bolder;
    font-size: 14px;
    color: #000;
}

.tel-number:before {
    content: '\f879';
    position: absolute;
    font-family: fontawesome;
    left: 0;
    top: 25%;
    color: #1a62af;
}

.call-order-btn {
    padding: 8px 20px 8px 40px;
    position: relative;
    background-color: transparent;
    border: 1px solid #ec4054;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.call-order-btn:before {
    content: '';
    width: 27px;
    height: 27px;
    position: absolute;
    left: 4px;
    top: 50%;
    background-color: #ec4054;
    border-radius: 50%;
    transform: translateY(-50%);
}

.call-order-btn:after {
    content: '\f879';
    left: 6%;
    top: 29%;
    position: absolute;
    font-family: fontawesome;
    background-repeat: no-repeat;
    color: #fff;
    z-index: 10;
}

/* End of Header info section */

/* Header navigation */
.header-top nav {
    background-color: #1a62af;
    text-align: center;
}

.header-top nav li {
    display: inline-block;
    position: relative;
}

.header-top nav li a {
    height: 52px;
    display: block;
    padding: 0 30px;
    font-size: 14px;
    line-height: 52px;
    user-select: none;
}

.header-top nav li:hover {
    background-color: #327ecf;
}

.header-top nav li:not(:first-child):before {
    content: '\2022';
    position: absolute;
    color: #79b2ee;
    left: -1%;
    top: 50%;
    transform: translateY(-50%);
}
/* End of Header navigation */

/* Main Header content */
h1 {
    width: calc(110px + (220 - 110) * ((100vw - 300px) / (1980 - 400)));
    display: inline-block;
    font-size: calc(28px + (64 - 28) * ((100vw - 300px) / (1980 - 300)));
    font-weight: 900;
    text-transform: uppercase;
    color: #15274b;
}

.header-introduction {
    display: flex;
    margin-top: 60px;
}

.main-title {
    margin-right: 10%;
    z-index: 20;
}

.main-title > p {
    margin-bottom: 20px;
    font-size: calc(12px + (24 - 12) * ((100vw - 300px) / (1600 - 300)));
    font-weight: bold;
    color: #15274b;
}

.sale {
    font-weight: 900;
    color: #e31e24;
    font-size: calc(19px + (35 - 19) * ((100vw - 300px) / (1980 - 300)));
}

.present-section {
    margin-top: 40px;
    display: flex;
    user-select: none;
}

.present-section> img {
    margin-right: 15px;
}

.gift-wrapper {
    width: 390px;
    height: 110px;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #e9f2fc;
    border-radius: 5px;
    background-image: url(../img/bg-stripes.png);
}

.gift-wrapper svg  {
    width: 70px;
    height: 60px;
    margin: 0 20px 0 30px;
}

.gift-wrapper p {
    font-size: 24px;
    font-weight: bold;
    color: #1a62af;
}

.gift-wrapper:before {
    content: '';
    position: absolute;
    width: 97%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #81aad5;
    border-radius: 3px;
}

.services {
    margin-top: 40px;
    z-index: 20;
}

.services li + li {
    margin: 25px 0;
}

.services li * {
    display: inline-block;
    vertical-align: middle;
}

.services img {
    width: calc(64px + (94 - 64) * ((100vw - 300px) / (1980 - 300)));
}

.services p {
    width: 175px;
    color: #1f2327;
    font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1680 - 300)));
    font-weight: bold;
}

/* Header form*/
.form-wrapper h2 {
    margin-bottom: 25px;
    color: #1a62af;
}

.form-input {
    padding: 22px 0 22px 70px;
    border: 1px solid #dae9ff;
    border-radius: 50px;
    background-color: #fff;
    outline: none;
    box-shadow: -0.5px 12px 16px 0 rgba(20, 99, 184, 0.2);
}

.inp-wrapper {
    position: relative;
}

.form-wrapper form > span:before {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 3%;
    transform: translateY(-49%);
    font-family: fontawesome;
    background-color: #dceafa;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    color: #1a62af;
    z-index: 20;
}


.inp-wrapper:nth-child(1):before {
    content: '\f406';
}

.inp-wrapper:nth-child(2):before {
    content: '\f879';
}

.inp-wrapper:nth-child(2) {
    margin: 0 7px;
}

.form-wrapper input::placeholder {
    color: #7e9ab8;
}

.agree-box {
    margin-top: 20px;
    display: block;
    color: #1a62af;
    font-size: 12px;
}

.agree-box input {
    vertical-align: middle;
    margin-right: 3px;
}

.agree-box a {
    color: #1a62af;
    text-decoration: underline;
}

.engineer-call-btn {
    padding: 20px 30px;
    border-radius: 50px;
    color: #fff;
    border: 0;
    background-color: #e31e24;
    transition: .4s ease-in-out;
    outline: none;
}

.engineer-call-btn:hover {
    background-color: #b40409;
}

.engineer-call-btn:focus {
    background-color: #8f0407;
}
/* End of Header form*/
/* End of Main Header content */


/* Main section */
main {
    height: 100vh;
}

.advantages-wrapper {
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.advantage-icon svg {
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translate(-50%,-50%);
}

.advantage:hover .advantage-icon svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.advantage {
    width: 340px;
    height: 280px;
    padding: 30px;
    text-align: center;
    border: 1px solid #d1e9ff;
    position: relative;
    border-radius: 3px;
}

.advantage:hover {
    background-color: #1a62af;
    color: #fff;
}

.advantage:hover h3 {
    color: #fff;
}

.advantage:hover .advantage-icon {
    background-color: #1a62af;
    box-shadow: -0.6px 17px 25px 2px rgba(0, 56, 115, 0.3);
}

.advantage:hover:before {
    border-color: #327ecf;
}

.advantages-wrapper>:nth-child(2) {
    margin: 0 40px;
}

.advantage-icon {
    width: 100px;
    height: 100px;
    top: -15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    background-image: url(../img/bg-stripes.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
    position: absolute;
}

.advantage h3, .advantage h3:before, .advantage:before, .advantage-icon, .advantage-icon svg, .advantage {
    transition: .3s ease-in-out;
}

.advantage h3 {
    margin-top: 60px;
    margin-bottom: 30px;
    position: relative;
    font-size: calc(13px + (18 - 13) * ((100vw - 300px) / (1980 - 300)));
    text-transform: uppercase;
    color: #1a62af;
}

.advantage h3:before {
    content: '';
    width: 30px;
    height: 1px;
    bottom: -10px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    background-color: #1a62af;
    box-shadow: -0.2px 3px 4px 0.2px rgba(0, 109, 225, 0.22);
    z-index: 30;
}

.advantage:hover > h3:before {
    background-color: #fff;
}

.advantage p {
    font-size: 14px;
}

.advantage:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 96%;
    height: 96%;
    border: 1px solid #f2f6fc;
    transform: translate(-50%, -50%);
    border-radius: 3px;
}
/* End of Main section */


/* Checkbox styling */
.cbx {
    margin: auto;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
}

.cbx span {
    display: inline-block;
    vertical-align: middle;
    transform: translate3d(0,0,0);
}

.cbx span:first-child {
    position: relative;
    width: 14px;
    height: 14px;
    margin-right: 4px;
    border-radius: 3px;
    transform: scale(1);
    vertical-align: text-bottom;
    border: 1px solid #9098A9;
    transition: all .2s ease;
}

.cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all .3s ease;
    transition-delay: .1s;
    transform: translate3d(0,0,0);
}

.cbx span:first-child:last-child {
    padding-left: 8px
}

.cbx span:hover span:first-child {
    border-color: #506EEC
}

.cbx-p:checked + .cbx span:first-child {
    background: #506EEC;
    border-color: #506EEC;
}

.cbx-p:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0
}

.cbx-p:checked + .cbx span:before {
    transform: scale(3.5);
    opacity: 0;
    transition: all .6s ease;
}

/* Burger button styles*/
.mobile-content {
    display: none;
}

.burger-wrapper {
    width: 30px;
    height: 30px;
    position: absolute;
    display: none;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
}

.burger-btn {
    width: inherit;
    height: inherit;
    position: relative;
}

.burger-btn span {
    width: 20px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
    background-color: #1a62af;
}

.burger-btn span:before, .burger-btn span:after {
    content: '';
    width: 20px;
    height: 2px;
    top: 50%;
    left: 50%;
    margin-top: -1px;
    margin-left: -10px;
    position: absolute;
    background-color: #1a62af;
    transition: .3s;
}

.burger-btn span:before { transform: translateY(-5px); }
.burger-btn span:after { transform: translateY(5px); }
.burger_active span { height: 0; }
.burger_active span:before { transform: rotate(45deg); }
.burger_active span:after { transform: rotate(-45deg); }